<script>
import axios from 'axios'
import { ref } from 'vue'

export default {
  data() {
    return {
      tasks: ref([]),
      newTask: {
        title: '',
        status: ''
      }
    }
  },
  mounted() {
    this.fetchTasks()
  },
  methods: {
    fetchTasks() {
      // Make a GET request to fetch tasks from the API and update the tasks array
      axios
        .get('http://127.0.0.1:3000/todo/')
        .then((response) => {
          this.tasks = response.data
          console.log(this.tasks)
        })
        .catch((error) => {
          console.error(error)
        })
    },
    addTask() {
      // Make a POST request to add a new task to the API and refresh the task list
      axios({
        method: 'post',
        url: 'http://127.0.0.1:3000/todo/',
        data: this.newTask
      })
        .then((response) => {
          // If the request is not successful, log the error to the console
          if (response.status !== 201) {
            console.error(response.data)
          } else {
            // If the request is successful, update the tasks array with the new task
            this.fetchTasks()
            this.newTask.title = ''
            this.newTask.status = ''
          }
        })
        .catch((error) => {
          console.error(error)
        })
    },
    toggleStatus(task) {
      // Make a PUT request to update the status of the task on the API and refresh the task list
      axios({
        method: 'put',
        url: `http://127.0.0.1:3000/todo/${task.id}`,
        data: {
          title: task.title
        }
      })
        .then(() => {
          this.fetchTasks()
        })
        .catch((error) => {
          console.error(error)
        })
    },
    deleteTask(task) {
      // Make a DELETE request to remove the task from the API and update the task list
      axios
        .delete(`http://127.0.0.1:3000/todo/${task.id}`)
        .then(() => {
          this.fetchTasks()
        })
        .catch((error) => {
          console.error(error)
        })
    }
  }
}
</script>

<template>
  <div class="container-fluid">
    <h1 class="mb-4">Task Manager</h1>
    <form @submit="addTask" class="mb-3">
      <div class="input-group mb-3">
        <input
          type="text"
          v-model="newTask.title"
          class="form-control"
          placeholder="Task Title"
          required
        />
        <div class="form-check">
          <label class="form-check-label" for="taskStatus">Completed?</label>
          <select v-model="newTask.status" class="form-control" id="taskStatus" required>
            <option :value="1">Yes</option>
            <option :value="0">No</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary ms-2">Add Task</button>
      </div>
    </form>
    <ul class="list-group">
      <li
        v-for="task in tasks"
        :key="task.id"
        class="list-group-item d-flex justify-content-between align-items-center"
        style="width: 100%"
      >
        <div class="d-flex align-items-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              v-model="task.status"
              :true-value="1"
              :false-value="0"
              @change="toggleStatus(task)"
              id="taskStatus"
            />
          </div>
          <div>
            <strong>{{ task.title }}</strong>
            <p class="text-muted mb-0">
              <small>{{ new Date(task.created_at).toISOString().split('T')[0] }}</small>
            </p>
          </div>
        </div>
        <div>
          <button class="btn btn-danger btn-sm ms-2" @click="deleteTask(task)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</template>
